<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="MD. ABDUL KADER">
</head>

<body>
    <header style="background-color: rgba(3, 255, 3, 0.3);">
        <h1>MAK's Blog</h1>
    </header>
    <hr>
    <main>
        {% block content %} {% endblock content %}
    </main>
    <hr>
    <footer style="background-color: rgba(3, 255, 3, 0.3);">
        <a href="#top">Back to top</a>
        <br> <br>
        <p>&copy;Copyright 2023</p>
    </footer>
</body>

</html>